.main__intro {
  background-color: #3d9970;
  color: #eff2f1;
  padding: 50px 0;
}

.main__intro-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media screen and (min-width: 840px) {
  .main__intro {
    padding: 100px 0;
  }

  .main__intro-p {
    width: 100%;
    text-align: left;
  }
}
