.register {
  max-width: 300px;
  margin: 7rem auto;
  padding: 1rem;
  min-height: 65vh;
}

.register__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: auto;
}

.register__redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register__redirect-link {
  color: #3d9970;
}

.register__link-wrapper {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  padding: 1rem;
}

.register__link {
  font-size: 1.5rem;
  color: #3d9970;
  padding-left: 0.5rem;
}

@media screen and (min-width: 600px) {
  .register {
    max-width: 500px;
    margin: 12rem auto;
  }
}

@media screen and (min-width: 840px) {
  .register__link,
  .register__link-wrapper {
    font-size: 1.75rem;
  }
}
