.categories {
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .4rem;
  font-size: 1.6rem;
  
}

.category-header h3 {
  flex-basis: 75%;
  font-size: 2.8rem;
}

.category-header span {
  flex-basis: 25%;
}


.category-header svg {
  cursor: pointer;
}

.header-title {
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.header-markers {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.subcategory-info {
  display: flex;
  flex-direction: column;
}

.category-delete {
  color: #333;
}

.category-delete:hover {
  cursor: pointer;
  color: #777;
}

.dashboard__subcategories__form {
  border-top: 1px solid rgba(162, 173, 164, 0.6);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}