.nav-links {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 60px;
  right: 0;
  border-top: 2px solid #689671;
  padding: 20px 0;
  height: 100vh;
}

.nav-links li {
  padding: 6px 0;
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(143, 203, 155, 0.35);
}

@media screen and (min-width: 840px) {
  .nav-links {
    position: static;
    background-color: transparent;
    flex-direction: row;
    border-top: none;
    justify-content: space-evenly;
    height: auto;
  }
}