.footer {
  background-color: #3d9970;
  color: #eff2f1;
  padding: 40px 0;
}

.footer__logo {
  color: #eff2f1;
  font-family: "Righteous", sans-serif;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__logo svg {
  width: 30px;
  height: 30px;
}

.footer__links {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer__links__explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__links__explore a,
.footer__links__get-started a {
  color: #eff2f1;
}

.footer__links__explore a:hover,
.footer__links__get-started a:hover {
  color: #51c591;
}

.footer__links__get-started {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 840px) {
  .footer__logo {
    font-size: 3rem;
  }

  .footer__logo svg {
    width: 40px;
    height: 40px;
  }
}
