.main__description {
  padding: 50px 0;
}

.main__description-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.inline-link {
  color: #3D9970;
}

.inline-link:hover {
  color: #51c591;
}

.step {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

@media screen and (min-width: 840px) {
  .main__description {
    padding: 100px 0;
  }
}