.dashboard__budget {
  display: flex;
  flex-direction: column-reverse;
}

.dashboard__content {
  padding: 2rem 1rem;
  flex-basis: 60%;
}

.dashboard-info {
  position: relative;
}


@media screen and (min-width: 840px) {
  .dashboard__budget {
    height: 100vh;
    /* flex-direction: row; */
    display: block;
    width: calc(65% - 150px);
    margin-left: 150px;
  }

  .dashboard__content {
    min-width: 400px;
    /* overflow-y: auto; */
    height: 100%;
    padding: 2rem 3rem;
  }


}