.main__footer {
  background-color: rgba(81, 197, 145, 0.2);
  color: #02452d;
  padding: 50px 0;
}

.main__footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media screen and (min-width: 840px) {
  .main__footer {
    padding: 100px 0;
  }
}

