.dashboard__categories {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.dashboard__categories__form {
  border-top: 1px solid rgba(162, 173, 164, 0.6);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.start-budget-btn {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.budget-left p{
  font-size: 2rem;
  height: 25px;
}

.budget-dollars {
  font-size: 2.2rem;
  font-weight: 600;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}


@media screen and (min-width: 840px) {
  .dashboard__categories {
    padding: 0 2rem;
  }
}
