.dashboard-stats{
  min-width: 240px;
  margin: 3rem 1rem 1rem 1rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 0;
  flex-basis: 40%;
  position: relative;
}

.dashboard-stats__controls {
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(162, 173, 164, 0.6);

  /* gap: 2rem; */
}


@media screen and (min-width: 840px) {
  .dashboard-stats {
    padding: 0rem;
    margin: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 34%;
    height: auto;
    }

}