.header {
  color: #32493e;
  text-align: center;
}

.header__h1 {
  color: #3D9970;
  font-weight: 500;
}


.header__main-section {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 840px) {
  .header__main-section {
    padding: 180px 0;
    gap: 5rem;
  }
  

}