.btn {
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 1.5rem;
}

.btn--primary--purple,
.btn--primary--green {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #EFF2F1;
}

.btn--primary--purple {
  background-color: #967AA1;
}

.btn--primary--green {
  background-color: #3D9970;
}

.btn--primary--purple:hover {
  background-color: #b694c3;
}

.btn--primary--green:hover {
  background-color: #51c591;
}

.btn--tab--green {
  width: 120px;
  background-color: transparent;
  border-radius: 0px;
  padding: 20px 15px;
}

.btn--tab--green-selected{
  color: #3D9970;
  font-weight: bold;
  border-bottom: 3px solid #3D9970;
}

.btn--secondary--green {
  border: 1px solid #3D9970;
  color: #3D9970;
  background-color: transparent;
}

.btn--secondary--green:hover {
  color: #EFF2F1;
  background-color: #3D9970;
}
