.btn {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 1.4rem;
}

.btn--primary--purple,
.btn--primary--green {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #EFF2F1;
}


.btn--primary--purple {
  background-color: #967AA1;
}

.btn--primary--green {
  background-color: #3D9970;
}

.btn--small {
  padding: 8px 12px;
  font-size: 1.25rem;
}

.btn--primary--purple:hover {
  background-color: #b694c3;
}


.btn--primary--green:hover {
  background-color: #51c591;
}

.btn--primary--green:disabled {
  background-color: #98b6a9;
  cursor: not-allowed;
}

.btn--tab--green {
  width: 120px;
  background-color: transparent;
  border-radius: 0px;
  padding: 20px 15px;
  font-size: 1.4rem;
}

.btn--tab--green--selected{
  color: #3D9970;
  font-weight: bold;
  border-bottom: 3px solid #3D9970;
}

.btn--secondary--green {
  border: 1px solid #3D9970;
  color: #3D9970;
  background-color: transparent;
}

.btn--secondary--green:hover {
  color: #EFF2F1;
  background-color: #3D9970;
}

.btn--secondary--transparent {
  border: none;
  outline: none;
  background-color: #fafafa;
  color: #3D9970;
}


.btn--secondary--transparent:hover,
.btn--secondary--transparent--dark:hover
 {
  background-color: #ddf3ea;
  /* color: #EFF2F1; */
}

.btn--secondary--transparent--dark {
  border: none;
  outline: none;
  background-color: #EFF2F1;
  color: #3D9970;
}


@media screen and (min-width: 840px) {
  .btn {

  }
}
